html, body {
    margin: 0;
    padding: 0;
}

/* Header */
.headerPane 
{
    background-color: #EDEDED;
    background-position: left top;
    background-repeat: no-repeat;
    font-family: Tahoma;
}
.headerPane .headerTop
{
    height: 45px;
}
.templateTitle 
{
    float:left;
    margin-left: 15px;
    margin-top: 11px;
}
.templateTitle a 
{
    text-decoration: none;
    font-size: x-large;
    color: black;
}
.loginControl 
{
    float: right;
    margin-top: 17px;
    margin-right: 25px;
    font-size: 12px;
}
.loginControl a 
{
    color: black;
    text-decoration: none;
    border-bottom: dashed 1px black;
    display: inline-block;
}
.headerMenu 
{
    margin-top: 11px;
}

/* Footer */
.footerPane 
{
    background-color: #EDEDED;
    height:100%;
}
.footerMenu {
    float: right;
    padding-top: 7px;
}
.copyright 
{
    float: left;
    margin-left: 15px;
    margin-top: 100px;
}
.content 
{
    padding: 5px;
}


/* Account */
.accountHeader h2 
{
    margin: 10px 0 7px 0;
    font-size: 16px;
}
.accountHeader p 
{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.accountHeader 
{
    margin-bottom: 20px;
}