<h1>Report Wizard Customization</h1>
<div class="row">
  <div class="col-md-4">
      <ul>
          <li><a asp-controller="Home" asp-action="PredefinedSettings">Change the Predefined Page Size and Orientation</a></li>
          <li><a asp-controller="Home" asp-action="RemovePage">Remove the 'Select Data Source' Page</a></li>
          <li><a asp-controller="Home" asp-action="RemovePageSection">Hide Available Data Sources</a></li>
          <li><a asp-controller="Home" asp-action="HideReportTypes">Hide the 'Label Report' and 'Empty Report' Types</a></li>
          <li><a asp-controller="Home" asp-action="HideNoDataItem">Hide the 'No Data' Item</a></li>
          <li><a asp-controller="Home" asp-action="ProhibitNewDataSourceCreation">Prohibit New Data Source Creation</a></li>
          <li><a asp-controller="Home" asp-action="CustomizeColorSchemes">Customize Color Schemes</a></li>
          <li><a asp-controller="Home" asp-action="SelectDataFields">Select Data Fields</a></li>
          <li><a asp-controller="Home" asp-action="CustomizeWizardResult">Customize the Wizard Result</a></li>
      </ul>
  </div>
</div>